<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="navbar-left">
        <a href="{%url 'linkorg' %}" class="logo">{% load static %}<img src="{% static 'images/logo.jpg' %}"></a>
    </div>
    <div class="Host">
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        <h1>Organization</h1>
        <br>
        <p>Log in to the system</p>
        <br>
        <form method="POST" action="{%url 'organization' %}">
            {% csrf_token %}
            <input type="hidden" name="_token">
            <div class="inputhostlog1">
                Email:    <input type="email" id="username" name="username" class="form-control" value placeholder="jane.doe@domain.com" autofocus>
            </div>
            <br>
            <div class="inputhostlog2">
                Password: <input type="password" name="password" id="password" class="form-control" placeholder="*******">
            </div>
            <br>
            <div class="submit">
                <button type="submit" class="btn">Login</button>
            </div>
            <div class="PReset">
                <a href="" class="PReset">Reset Password</a>
            </div>
            <br>
        </form>
       </div>
       <div class="Members">
        <h1>Staff & Students</h1>
        <br>
        <br>
        <br>
        <p>You will need a domain username and password to login</p><p>
            <br>
            <br>
        <br>
            <a href="{%url 'register' %}" class="staff and students">Staff & Student Login</a></p>
        <br>
        <br>
    
       </div>
       <div class="Others">
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
       
       
        <h1>Alumni & Volunteer</h1>
        <br>
        <p>Log in to the system</p>
        <br>
        <br>
        <form method="POST" action="{%url 'organization' %}">
            {% csrf_token %}
            <input type="hidden" name="_token">
            <div class="input Alog1">
                Email:    <input type="email" id="username" name="username" class="form-control" value placeholder="jane.doe@domain.com" autofocus>
            </div>
            <br>
            <div class="input Alog2">
                Password: <input type="password" name="password" id="password" class="form-control" placeholder="*******">
            </div>
            <br>
            <div class="submit">
                <button type="submit" class="btn btn-primary px-4">Login</button>
            </div>
            <div class="PReset">
                <a href="" class="presetalumni">Reset Password</a>
            </div>
            <br>

        </form> </div>

       </div>
    
    

   
</body>
</html>